= modal.body do
  .alert.alert-danger
    = model_translate(:error, scope: "para.jobs", model: job)

= modal.footer do
  %button.btn.btn-default{ data: { dismiss: 'modal' } }
    = t('para.shared.close')
