= modal.body do
  %p= model_translate(:progressing, scope: "para.jobs", model: job)

  .progress{ data: { :'async-progress' => 'import' } }
    .progress-bar.progress-bar-striped.active{ role: "progressbar", style: "width: #{ status.progress.nan? ? 100 : (status.progress * 100) }%" }
