%tr.available-item{ data: { :'available-item-id' => result.id, :available => true, :'selected-item-template' => selected_item_for(result) } }
  %td= resource_name(result)

  %td.add-button-cell
    = button_tag type: :button, class: 'btn btn-xs btn-success', data: { :'add-item' => true } do
      = fa_icon 'arrow-right'
    %span.badge= t('para.form.multi_select.available.already_selected')
