.page-content-wrap
  = simple_form_for [:admin, @component_section], as: :component_section, wrapper: :horizontal_form, html: { class: "form-horizontal form-group-separated" }  do |form|
  
    .block.form-inputs
      = form.input :name

    .block.form-actions
      .col-sm-9.col-sm-offset-3
        = form.button :submit, class: 'btn-success'
        = link_to t('para.shared.cancel'), admin_path, class: 'btn btn-danger'
