

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,500,600,700&subset=latin,cyrillic-ext)


.background-colorful
  background: linear-gradient(left, $brand-danger 0, $brand-warning 50%, $brand-success 100%)
  background: -o-linear-gradient(left, $brand-danger 0, $brand-warning 50%, $brand-success 100%)
  background: -moz-linear-gradient(left, $brand-danger 0, $brand-warning 50%, $brand-success 100%)
  background: -webkit-linear-gradient(left, $brand-danger 0, $brand-warning 50%, $brand-success 100%)
  background: -ms-linear-gradient(left, $brand-danger 0, $brand-warning 50%, $brand-success 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0, $brand-danger), color-stop(0.5, $brand-warning), color-stop(1, $brand-success))

html *
  outline: 0!important

body, html
  min-height: 100%
  padding: 0
  margin: 0
  background-image: image_url('para/admin/bg.png')
  background-color: whitesmoke
  position: relative
  color: #656d78
  overflow-x: hidden

.body-full-height
  height: 100%
  body
    height: 100%

.row
  margin-left: 0
  margin-right: 0
  [class^=col-lg-], [class^=col-md-], [class^=col-sm-], [class^=col-xs-]
    min-height: 1px
  &.stacked
    [class^=col-lg-], [class^=col-md-], [class^=col-sm-], [class^=col-xs-]
      padding-left: 0
      padding-right: 0

.page-title
  float: left
  width: 100%
  padding: 5px 10px
  h2
    float: left
    line-height: 30px

.page-container
  width: 100%
  float: left
  min-height: 100%
  position: relative
  background: $brand-primary
  .page-sidebar
    width: 220px
    float: left
    position: relative
    z-index: 3
    &.page-sidebar-fixed
      position: fixed
  &.page-container-wide .page-sidebar
    width: 50px
  .page-content
    min-height: 100%
    margin-left: 220px
    background-image: image_url('para/admin/bg.png') 
    background-color: whitesmoke
    position: relative
    zoom: 1
    &:after, &:before
      content: ""
      display: table
    &:after
      clear: both
    .content-frame
      float: left
      width: 100%
      position: relative
      background-image: image_url('para/admin/bg.png') 
      background-color: whitesmoke
      .content-frame-top
        float: left
        width: 100%
        line-height: 30px
        padding: 13px 15px 15px
        background: rgba(0, 0, 0, 0.02)
        border-bottom: 1px solid #DDD
        border-top: 1px solid #DDD
        .page-title
          padding: 0
          width: auto
          h2
            margin-bottom: 0
            font-size: 22px
      .content-frame-left
        float: left
        width: 300px
        padding: 10px
        min-height: 100%
        background: rgba(0, 0, 0, 0.02)
        border-right: 1px solid #DDD
        &.padding-0
          padding: 0
        .block
          padding: 0
          margin-bottom: 20px
        h4
          margin-top: 10px
        > .form-group
          margin-bottom: 20px
      .content-frame-right
        float: right
        width: 300px
        padding: 10px
        min-height: 100%
        background: rgba(0, 0, 0, 0.02)
        border-left: 1px solid #DDD
        &.padding-0
          padding: 0
          .block
            padding: 10px
        h4
          margin-top: 10px
        .block
          padding: 0
          margin-bottom: 20px
        > .form-group
          margin-bottom: 20px
      .content-frame-body
        padding: 70px 10px 10px
        margin-left: 300px
        &.content-frame-body-left
          margin-left: 0
          margin-right: 300px
      .content-frame-left-toggle, .content-frame-right-toggle
        display: none
        margin-left: 5px
    .page-content-wrap
      float: left
      width: 100%
  &.page-container-wide .page-content
    margin-left: 50px
    +transition(all, .2ms ease)
  &.page-navigation-toggled .page-content
    margin-left: 50px
  &.page-navigation-top .page-content
    margin-left: 0
  &.page-navigation-top-fixed
    .x-navigation.x-navigation-horizontal
      position: fixed
      padding-right: 220px
      top: 0
    .page-content
      padding-top: 50px
    &.page-navigation-toggled .x-navigation.x-navigation-horizontal
      padding-right: 50px

