@import 'variables'

@media only screen and (max-width: 768px)
  [class^='col-xs-'], [class^='col-sm-'], [class^='col-md-'], [class^='col-lg-']
    margin-bottom: 10px
  .login-container
    padding: 0px 10px
    .login-box
      padding-top: 10px
      width: 100%
  .tocify
    display: none
  .timeline.timeline-right
    &:before
      left: 60px
    .timeline-item
      padding-left: 110px
      &.timeline-main
        width: 60px
      .timeline-item-icon
        left: 40px
      .timeline-item-info
        top: 45px
        width: 70px
        left: 25px
        padding: 7px 0px

@media only screen and (max-width: 1024px)
  .page-container
    .page-sidebar
      position: relative
      float: left
      width: 100%
      &.scroll
        position: relative
    .page-content
      margin-left: 0px
      .content-frame
        .content-frame-left, .content-frame-right
          width: 100%
          display: none
        .content-frame-body
          margin-left: 0px
          margin-right: 0px
          &.content-frame-body-left
            margin-right: 0px
        .content-frame-left-toggle, .content-frame-right-toggle
          display: inline-block
    &.page-navigation-toggled .page-content
      margin-left: 0px
    &.page-mode-rtl .page-content
      margin-right: 0px
    &.page-navigation-top-fixed
      .x-navigation.x-navigation-horizontal
        padding-right: 0px
        position: relative
        li.xn-logo
          display: none
      .page-content
        padding-top: 0px
  .x-navigation
    max-height: 50px
    overflow: hidden
    background: $brand-primary
    &.x-navigation-panel
      height: 50px
      max-height: auto
      overflow: visible
      li
        &.xn-icon-button
          width: 50px
        &.xn-search
          width: auto
    .xn-search input
      width: 100%
    &.x-navigation-open
      max-height: 1200px
      overflow: visible
    .x-navigation-control
      display: block
  .x-navigation-minimize
    display: none !important
  .x-navigation-horizontal > li > ul
    ul, &.xn-drop-left ul
      position: relative
      left: auto
      right: auto
      margin-left: 0px
      margin-right: 0px
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none
    ul:after
      display: none
  .x-navigation li > .panel
    width: 250px
  .icons-list li
    width: 100%
  .gallery .gallery-item
    width: 50%
  .timeline .timeline-item
    .timeline-item-content
      width: 90%
      &:before, &:after
        left: 90%
    &.timeline-item-right .timeline-item-content
      &:before, &:after
        right: 90%
  .error-container
    width: 100%
