@import 'para/lib/variables'

.table >
  tbody > tr >
    td, th
      border-width: 1px
      vertical-align: middle
  tfoot > tr >
    td, th
      border-width: 1px
  thead > tr >
    td, th
      border-width: 1px

.table > thead > tr > th
  background: #f1f5f9
  color: #56688A
  font-size: 12px

.table
  &.table-actions td
    line-height: 28px
  .progress-small
    margin: 7px 0 8px
