@mixin clearfix()
  &:before,
  &:after 
    content: " "
    display: table
  &:after
    clear: both

// Commonds
// -------------------------
$title-color: #434a54
$help-block-color: #AAB2BD

// Content Frame
// -------------------------
$content-frame-with: 300px

// Left menu 
// -------------------------
$left-menu-width-open: 220px

$navbar-icon-color: #ffd559
$navbar-icon-brand-color: #fff

// Table
// -------------------------
$table-heading-color: #56688A
$table-heading-bg: #f1f5f9

@import 'admin/theme'
@import 'para/lib/variables'
