@mixin clearfix()
  &:before,
  &:after 
    content: " "
    display: table
  &:after
    clear: both

// Commonds
// -------------------------
$title-color: #434a54
$help-block-color: #AAB2BD

// Content Frame
// -------------------------
$content-frame-with: 300px

// Left menu 
// -------------------------
$left-menu-width-open: 220px
$left-menu-width-close: 50px
$navbar-border-bottom-color: #2f3c48
$navbar-link-hover-active-bg: #3d4e5d
$navbar-submenu-hove-active-bg: #23303b
$navbar-icon-color: #ffd559

// Table
// -------------------------
$table-heading-color: #56688A
$table-heading-bg: #f1f5f9
