@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

@import "variables"

html *
  outline: 0!important

body, html
  min-height: 100%
  position: relative
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.body-full-height
  height: 100%
  body
    height: 100%

body
  padding: $navbar-height 0 0 0
