@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,500,600,700&subset=latin,cyrillic-ext')

@import "variables"

html *
  outline: 0!important

body, html
  min-height: 100%
  position: relative
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.body-full-height
  height: 100%
  body
    height: 100%

.row
  margin-left: 0
  margin-right: 0
  [class^=col-lg-], [class^=col-md-], [class^=col-sm-], [class^=col-xs-]
    min-height: 1px
  &.stacked
    [class^=col-lg-], [class^=col-md-], [class^=col-sm-], [class^=col-xs-]
      padding-left: 0
      padding-right: 0

[class^=col-lg-], [class^=col-md-], [class^=col-sm-], [class^=col-xs-]
  padding-left: 10px
  padding-right: 10px

.alert
  position: relative
  z-index: 4

// Main container
// -------------------------

.page-container
  width: 100%
  float: left
  min-height: 100%
  position: relative
  background: $navbar-default-bg

  // Right side Content
  .page-content
    min-height: 100%
    margin-left: $left-menu-width-open
    background-color: $body-bg
    position: relative
    zoom: 1
    &:after, &:before
      content: ""
      display: table
    &:after
      clear: both

    // Frame system (no border, with right or left sidebar)
    .content-frame
      float: left
      width: 100%
      position: relative
      background-color: $body-bg

      .content-frame-top
        float: left
        width: 100%
        line-height: 30px
        padding: 13px 15px 15px
        background: rgba(0, 0, 0, 0.02)
        border-bottom: 1px solid $panel-default-border
        border-top: 1px solid $panel-default-border
        .page-title
          padding: 0
          width: auto
          h2
            margin-bottom: 0
            font-size: 22px

      .content-frame-left
        float: left
        width: $content-frame-with
        padding: 10px
        min-height: 100%
        background: rgba(0, 0, 0, 0.02)
        border-right: 1px solid $panel-default-border
        &.padding-0
          padding: 0
        .block
          padding: 0
          margin-bottom: 20px
        h4
          margin-top: 10px
        > .form-group
          margin-bottom: 20px

      .content-frame-right
        float: right
        width: $content-frame-with
        padding: 10px
        min-height: 100%
        background: rgba(0, 0, 0, 0.02)
        border-left: 1px solid $panel-default-border
        &.padding-0
          padding: 0
          .block
            padding: 10px
        h4
          margin-top: 10px
        .block
          padding: 0
          margin-bottom: 20px
        > .form-group
          margin-bottom: 20px

      .content-frame-body
        padding: 70px 10px 10px
        margin-left: $content-frame-with
        &.content-frame-body-left
          margin-left: 0
          margin-right: $content-frame-with

    // Basic content frame
    .page-content-wrap
      float: left
      width: 100%
      padding: 0 25px

  // Top navigation fixed
  &.page-navigation-top-fixed
    .breadcrumb
      position: fixed
      top: 0
      left: $left-menu-width-open
      right: 0
    .navigation-horizontal
      position: fixed
      top: 0
      right: 0
      left: 0
    .page-content
      padding-top: $navbar-height

/* Animations */
@-webkit-keyframes pulsate
  0%
    opacity: 0.0

  50%
    opacity: 1.0

  100%
    opacity: 0.0

@-moz-keyframes pulsate
  0%
    opacity: 0.0

  50%
    opacity: 1.0

  100%
    opacity: 0.0

@keyframes pulsate
  0%
    opacity: 0.0

  50%
    opacity: 1.0

  100%
    opacity: 0.0





@import "compass/css3/box-shadow"
@import "compass/css3/transition"


.animated
  animation-duration: 100ms

// More button style

@mixin tab-focus()
  outline: none
  outline-offset: 0

@mixin button-hover-focus-active($color-border, $color-bg)
  position: relative
  +box-shadow(0px 2px darken($color-border, 10%))
  +single-transition(none)
  &:hover
    top: 1px
    +box-shadow(0px 1px darken($color-border, 10%))
    background-color: $color-bg
    border-color: $color-border
  &:focus,
  &:active,
  &.active,
  .open &.dropdown-toggle
    background-color: darken($color-bg, 7%)
    top: 2px
    +box-shadow(0px 0 darken($color-border, 10%))
    border-color: $color-border
    &:hover
      background-color: darken($color-bg, 7%)

@mixin button-variant-inverse($color-border, $color-bg)
  color: $color-border
  background-color: transparent
  +box-shadow(none)
  +single-transition(all, .2s, linear)
  &:hover
    box-shadow: none
    top: 0
    color: #fff
    background-color: $color-bg
    outline: none
    outline: 0
  &:focus,
  &:active,
  &.active,
  .open &.dropdown-toggle
    +box-shadow(none)
    top: 0
    color: #fff
    background-color: darken($color-bg, 7%)
    outline: none
    outline: 0

.btn,
input,
textarea,
select,
button
  +single-transition(all, .1s, linear)
  &,
  &:active,
  &.active
    &:focus
      +tab-focus()
  &:hover,
  &:focus
    +tab-focus()


.btn-default
  +button-hover-focus-active($btn-default-border, $btn-default-bg)
  &.btn-inverse
    +button-variant-inverse($btn-default-border, $btn-default-bg)
    color: $btn-default-color
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open &.dropdown-toggle
      color: $btn-default-color

.btn-primary
  +button-hover-focus-active($btn-primary-border, $btn-primary-bg)
  &.btn-inverse
    +button-variant-inverse($btn-primary-border, $btn-primary-bg)

.btn-warning
  +button-hover-focus-active($btn-warning-border, $btn-warning-bg)
  &.btn-inverse
    +button-variant-inverse($btn-warning-border, $btn-warning-bg)

.btn-success
  +button-hover-focus-active($btn-success-border, $btn-success-bg)
  &.btn-inverse
    +button-variant-inverse($btn-success-border, $btn-success-bg)

.btn-danger
  +button-hover-focus-active($btn-danger-border, $btn-danger-bg)
  &.btn-inverse
    +button-variant-inverse($btn-danger-border, $btn-danger-bg)

.btn-info
  +button-hover-focus-active($btn-info-border, $btn-info-bg)
  &.btn-inverse
    +button-variant-inverse($btn-info-border, $btn-info-bg)

// Badge
.label-primary,
.badge-primary
  background-color: $brand-primary

.label-success,
.badge-success
  background-color: $brand-success

.label-info,
.badge-info
  background-color: $brand-info

.label-warning,
.badge-warning
  background-color: $brand-warning

.label-danger,
.badge-danger
  background-color: $brand-danger

// Table
.para-component-relation-table
  td > img
    height: 50px

.pull-right.btn-group
  min-width: 146px
  text-align: right
  > .btn
    float: none
    
// Form
.input-group-btn
  .btn,
  .btn:hover,
  .btn:focus,
  .btn:active,
    top: 0
    +box-shadow(none)

.form-group-separated
  &:after
    clear: both
    content: " "
    display: table

.block.form-inputs
  margin-bottom: 0
  padding: 0px 10px
  background-color: $body-bg

.form-actions
  padding-top: 20px
  padding-left: 0
  padding-bottom: 15px
  padding-right: 15px
  border-top: 1px dashed $gray
  background-color: $body-bg
  .btn
    margin-bottom: 15px
