//
// Variables
// --------------------------------------------------
@import "variables"

@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"


//== Buttons mixin
//
//## buttons mixin is here because is doest have to be share

=btn-outline($brand: default)
  background-color: transparent
  border: 1px solid $brand
  color: $brand
  +default-transition
  &:hover,
  &:focus
    background-color: $brand
    color: #fff
  
=btn-icon($brand: default)
  color: $brand !important

@each $class, $bg, $border in (primary, $btn-primary-bg, $btn-primary-border), (danger, $btn-danger-bg, $btn-danger-border), (default, $btn-default-bg, $btn-default-border), (success, $btn-success-bg, $btn-success-border), (warning, $btn-warning-bg, $btn-warning-border), (info, $btn-info-bg, $btn-info-border)
  .btn-shadow.btn-#{$class}
    &:hover,
    &:focus,
    &:active:focus,
    &.active
      background-color: $bg !important
      border-color: $border !important 

//** Override bootstrap btns
.btn
  text-transform: uppercase
  .fa
    font-size: 15px
    margin-right: 5px
    &.fa-stack-2x
      font-size: 20px
      margin-right: inherit

//** Override boostrap active btns if here is in dropdown
.btn-group.open .dropdown-toggle,
.dropdown.open .dropdown-toggle
  +box-shadow(0px 1px 3px 0px rgba(32,36,45, .06) inset , 0px 1px 2px 0px rgba(32,36,45, .12) inset) 

.btn-xs    
  .fa
    font-size: 12px

//** Override default comportement of bootstrap with btn shadow
.btn-shadow
  +box-shadow(0px 1px 3px 0px rgba(32,36,45, .12), 0px 1px 2px 0px rgba(32,36,45, .24))
  +default-transition
  &:hover
    +box-shadow(0px 1px 3px 0px rgba(32,36,45, .06), 0px 1px 2px 0px rgba(32,36,45, .12))
  &:focus,
    +box-shadow(0px 1px 3px 0px rgba(32,36,45, .03), 0px 1px 2px 0px rgba(32,36,45, .06))  
  &:active:focus
  &.active
    +box-shadow(0px 1px 3px 0px rgba(32,36,45, .06) inset , 0px 1px 2px 0px rgba(32,36,45, .12) inset) 

//** Btn outline
.btn-default-outline
  +btn-outline($brand-danger)
.btn-primary-outline  
  +btn-outline($brand-primary)
.btn-success-outline
  +btn-outline($brand-success)
.btn-info-outline
  +btn-outline($brand-info)
.btn-warning-outline
  +btn-outline($brand-warning)
.btn-danger-outline
  +btn-outline($brand-danger)

//** Btn icon
.btn-icon-default
  +btn-icon($brand-danger)
.btn-icon-primary  
  +btn-icon($brand-primary)
.btn-icon-success
  +btn-icon($brand-success)
.btn-icon-info
  +btn-icon($brand-info)
.btn-icon-warning
  +btn-icon($brand-warning)
.btn-icon-danger
  +btn-icon($brand-danger)  
  