@import "variables"

@import "compass/css3/border-radius"

=btn-outline($brand: default)
  background-color: transparent
  border: 1px solid $brand
  color: $brand
  +default-transition
  &:hover,
  &:focus
    background-color: $brand
    color: #fff
  
//** Btns
.btn
  .fa
    font-size: 15px
    margin-right: 5px
    &.fa-stack-2x
      font-size: 20px
      margin-right: inherit

.btn-xs    
  .fa
    font-size: 12px

//** Btn outline
.btn-default-outline
  +btn-outline($brand-danger)
.btn-primary-outline  
  +btn-outline($brand-primary)
.btn-success-outline
  +btn-outline($brand-success)
.btn-info-outline
  +btn-outline($brand-info)
.btn-warning-outline
  +btn-outline($brand-warning)
.btn-danger-outline
  +btn-outline($brand-danger)