//
// Dropdown
// --------------------------------------------------

//== Main style
//
//##

.dropdown
  &.open
    .fa
      +rotate(180deg)

.dropdown-menu
  border: none
  padding: 0
  margin: 8px 0 0
  z-index: $zindex-navbar-fixed + 20
  +material-box-shadow(2)
  +border-radius(2px 10px 10px 10px)
  > li
    > a
      line-weight: 300
      padding: 12px 12px
      border-bottom: 1px solid $gray-light
    &:last-child > a
      border-bottom: 0
  &:after, &:before
    display: none

.dropup .dropdown-menu
  &:after, &:before
    display: none

.dropdown-header
  padding: 10px 15px
  border-bottom: 1px solid $dropdown-border
  color: $dropdown-header-color
