@import "variables"

@import "compass/css3/box-shadow"
@import "compass/css3/user-interface"

=outline-input-form
  -webkit-appearance: none
  +box-shadow(none)
  +border-radius(0)
  border: none
  border-bottom: 1px solid $input-border
  &:focus
    +box-shadow(0px 1px 0px $input-border-focus)
    border-color: $input-border-focus

// Legends
// -------------------------

legend
  font-weight: 600
  padding: 0
  margin-bottom: 15px
  border: none

// Labels
// -------------------------
.control-label
  font-weight: 300
  font-size: 12px

// Inputs
// -------------------------
.form-group:last-child
  margin-bottom: 0

//** Inputs outline
.forms-outline
  
  .form-control
    padding: 6px 0
    +outline-input-form
    margin-bottom: 30px
    &[disabled], &[readonly]
      color: $gray-dark
    &[disabled]:focus, &[readonly]:focus
      background: $input-bg-disabled
      color: $gray-dark
      border-color: $gray-lighter

  //** Redactor
  .redactor-editor
    padding-top: 15px 0 6px 0
    +outline-input-form
  .redactor-toolbar
    border: none
    border-bottom: 1px solid $input-border
    background-color: $gray-lighter
    +border-radius(0)

  //** Selectize
  .selectize-input, 
  .selectize-input.full
    +outline-input-form

  .selectize-control.multi .selectize-input.has-items,
  .selectize-control .selectize-input
    padding-right: 0
    padding-left: 0

//** File input
.fileinput
  &.fileinput-new
    .fileinput-placeholder
      display: block
  &.fileinput-exists
    .fileinput-placeholder
      display: none


// Search form filter
// -------------------------
.filter-form
  .form-control
    +input-placeholder
      color: $gray  
  .form-control,
  .input-group-btn
    background-color: $gray-lighter
    border: none
    +border-left-radius(20px)
    +box-shadow(0px 1px 3px 0px rgba(32,36,45, .12) inset, 0px 1px 2px 0px rgba(32,36,45, .24) inset)
  .input-group-btn
    overflow: hidden
    +border-left-radius(0)
    +border-right-radius(20px)
  .btn
    background-color: transparent
    color: $gray  
    &:hover
      color: $gray-dark

// Fixed actions
// -------------------------
.form-fixed-actions
  margin-bottom: 150px
  .form-actions
    position: fixed
    bottom: 0px
    right: 0px
    left: $left-menu-width-open
    padding: 25px 50px
    z-index: $zindex-navbar-fixed - 10
    background-color: #fff
    border-top: 1px solid $gray

    
// Input group addons
// -------------------------
.input-group-btn:first-child >
  .btn, .btn-group
    margin-right: -2px

.input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    font-size: 16px

.input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    font-size: 11px

.input-group-btn > .btn
  &:active, &:focus, &:hover
    z-index: 0

// Input with error
// -------------------------
.has-success
  .checkbox, .checkbox-inline, .control-label, .form-control-feedback, .help-block, .radio, .radio-inline
    color: $brand-success
  .form-control
    border-color: $brand-success

.has-warning
  .checkbox, .checkbox-inline, .control-label, .form-control-feedback, .help-block, .radio, .radio-inline
    color: $brand-warning
  .form-control
    border-color: $brand-warning

.has-error
  .checkbox, .checkbox-inline, .control-label, .form-control-feedback, .help-block, .radio, .radio-inline
    color: $brand-danger

.bootstrap-select.error > button, .form-control.error, .has-error .form-control
  border-color: $brand-danger

.bootstrap-select.valid > button, .form-control.valid
  border-color: $brand-success
