@import 'variables'

@import "compass/css3/border-radius"


.actions-control
  list-style: none
  padding: 0
  margin: 0

.flextable
  display: table
  width: 100%
  .flextable-item
    display: table-cell
    white-space: nowrap
    vertical-align: middle
    width: 1%
    .flextable-primary
      width: 99%

.page-list
  .page-list-heading,
  .page-list-body,
  .page-list-footer  
    padding: 15px 0
    +clearfix
  .page-entries-info
    padding: 5px 0  

  .page-list-heading:first-child,
  .page-list-body:first-child
    padding-top: 0

  .page-list-heading
    border-bottom: 1px solid $gray-light

  .page-list-footer
    border-top: 1px solid $gray-light
