//
// Multi select
// --------------------------------------------------

//== Compass & variables
//
//##

@import "variables"
@import "compass/css3/box-shadow"

//== Main styles
//
//##

.multi-select-field
  .reorder-anchor-cell
    display: none
    
  &.orderable
    .reorder-anchor-cell
      display: block

  .input-group.filter-form
    margin-bottom: 15px
    input
      padding-left: 12px

  .panel-heading
    padding: 5px 15px
    border-bottom: 1px solid $gray-light
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    .panel-title
      color: $gray
      font-size: 12px
      font-weight: 700
      text-transform: uppercase

  .panel
    +box-shadow(none)

    &.available-items
      .available-item
        height: 53px
        .btn
          +material-box-shadow(1)
          color: $brand-success
          float: right
          width: 22px
        .badge
          display: none

      .selected
        td
          background-color: $gray-lighter
        .btn
          display: none
        .badge
          display: inline
          color: $gray
          background-color: transparent
          float: right
          text-transform: uppercase

    &.selected-items
      .selected-item
        .btn
          +material-box-shadow(1)
          color: $brand-danger
          float: right
          width: 22px
