//
// Navigation
// --------------------------------------------------

//== Sidebar right
//
//##

.navmenu
  background-color: $navbar-default-bg
  width: $left-menu-width-open
  overflow: hidden
  z-index: $zindex-navbar-fixed + 10

.navmenu-default
  background-color: #fff
  border: none
  +box-shadow(10px 0px 20px 0px rgba(32,36,45, .06), 6px 0px 6px 0px rgba(32,36,45, .10))

  .navmenu-brand
    +background(linear-gradient(to top right, $brand-primary, $brand-info))
    color: #fff
    display: block
    font-size: 1.4em
    font-weight: 300
    line-height: 20px
    margin: 0
    padding: 20px
    text-align: center
    text-transform: uppercase
    &:hover,
    &:focus
      color: #fff

  .navmenu-nav
    background-color: $navbar-default-bg
    height: calc(100% - 60px)
    width: $left-menu-width-open
    padding: 0
    margin: 0
    display: block
    overflow-x: hidden
    overflow-y: auto
    list-style: none

    //** overriding jasny
    > li > a
      color: $gray
      &:hover,
      &:focus
        background-color: $navbar-default-bg
        color: white

    //** Para components
    .component-section-list-items
      background-color: white
      list-style: none
      margin: 0
      padding: 0

    .component-section-title
      background-color: $navbar-default-bg
      color: white
      font-weight: bold
      line-height: 19px
      padding: 30px 30px 15px 15px
      text-transform: uppercase
      width: 100%
      &:hover,
      &:focus
        text-decoration: none
      .fa
        margin-right: -15px
      &.collapsed
        .fa
          +rotate(180deg)

    .component-item
      a, button
        background-color: $text-color
        display: block
        line-height: 19px
        color: $gray-light
        font-weight: 400
        padding: 11px 13px 11px 15px
        text-decoration: none

        +default-transition
        &:hover,
        &:focus
          padding-left: 25px
          background-color: $navbar-default-bg

      &.active
        a, button
          border-left: 2px solid $brand-primary
          background-color: lighten($navbar-default-bg, 10%)
          border-color: $brand-primary
          color: white
          padding-left: 25px

//== Top navbar
//
//##

.navbar-default
  border: none
  padding-right: 22px
  .nav > li > a
    padding: 6px 10px
    text-align: center
    margin: 14px 3px
    +border-radius($border-radius-small)
    &.btn-home
      background-color: $blue-darker
      color: $gray-lighter

    &.btn-power-off
      background-color: $brand-danger
      color: $gray-lighter

.navbar-fixed-top
  padding-left: 0
  &.navbar
    margin-bottom: 0

//** Btn menu toggle
.navbar-toggle
  float: left
  display: block
