@import "variables"

@import "compass/css3/box-shadow"
@import "compass/css3/transition"
@import "compass/css3/text-shadow"
@import "compass/css3/border-radius"
@import "compass/css3/transform"

//== Sidebar right
//
//## 

.navmenu
  background-color: $navbar-default-bg
  width: $left-menu-width-open
  overflow: hidden

.navmenu-default
  background-color: #fff
  border: none

  .navmenu-brand
    background-color: $blue-darker
    margin: 0
    padding: 20px
    font-size: 1.4em
    font-weight: 300
    line-height: 20px
    text-transform: uppercase
    text-align: center
    color: #fff
    display: block
    &:hover,
    &:focus
      background-color: $blue-darker
      color: #fff

  .navmenu-nav  
    height: 100%
    width: $left-menu-width-open + 15px
    padding: 0
    margin: 0
    display: block
    overflow-x: hidden
    overflow-y: scroll
    z-index: $zindex-navbar-fixed + 1
    list-style: none

    //** overriding jasny
    > li > a
      color: $gray
      &:hover,
      &:focus
        color: $gray
        background-color: $gray-lighter

    //** Para components
    .component-section-list-items
      list-style: none
      padding: 0
      margin: 0  

    .component-section-title
      width: 100%
      font-weight: bold
      text-transform: uppercase
      background-color: $gray-lighter
      padding: 30px 15px 15px 15px
      line-height: 19px
      &:hover,
      &:focus
        cursor: default
        text-decoration: none
      &.collapsed
        .fa
          +rotate(180deg)

    .component-item
      a, button
        display: block
        line-height: 19px
        color: $text-color
        font-weight: 400
        padding: 11px 25px 11px 23px
        text-decoration: none
        border-left: 2px solid #fff
        &:hover,
        &:focus
          background-color: $gray-lighter

      &.active    
        a, button
          background-color: $navbar-default-link-active-bg
          border-color: $brand-primary

//== Top navbar
//
//##
.navbar-default
  border: none

.navbar-fixed-top
  padding-left: 0

//** Btn menu toggle  
.navbar-toggle  
  float: left
  display: block

