@import "variables"

@import "compass/css3/box-shadow"
@import "compass/css3/transform"

//== Sidebar right
//
//## 

.navmenu
  background-color: $navbar-default-bg
  width: $left-menu-width-open
  overflow: hidden
  z-index: $zindex-navbar-fixed + 10

.navmenu-default
  background-color: #fff
  border: none
  +box-shadow(10px 0px 20px 0px rgba(32,36,45, .06), 6px 0px 6px 0px rgba(32,36,45, .10))

  .navmenu-brand
    background-color: $blue-darker
    margin: 0
    padding: 20px
    font-size: 1.4em
    font-weight: 300
    line-height: 20px
    text-transform: uppercase
    text-align: center
    color: #fff
    display: block
    &:hover,
    &:focus
      background-color: $blue-darker
      color: #fff

  .navmenu-nav  
    height: calc(100% - 60px)
    width: $left-menu-width-open
    padding: 0
    margin: 0
    display: block
    overflow-x: hidden
    overflow-y: auto
    list-style: none

    //** overriding jasny
    > li > a
      color: $gray
      &:hover,
      &:focus
        color: $gray
        background-color: $gray-lighter

    //** Para components
    .component-section-list-items
      list-style: none
      padding: 0
      margin: 0  


    .component-section-title
      width: 100%
      font-weight: bold
      text-transform: uppercase
      background-color: $gray-lighter
      padding: 30px 30px 15px 15px
      line-height: 19px
      &:hover,
      &:focus
        cursor: default
        text-decoration: none
      .fa
        margin-right: -15px  
      &.collapsed
        .fa
          +rotate(180deg)

    .component-item
      a, button
        display: block
        line-height: 19px
        color: $text-color
        font-weight: 400
        padding: 11px 25px 11px 23px
        text-decoration: none
        border-left: 2px solid #fff
        &:hover,
        &:focus
          background-color: $gray-lighter

      &.active    
        a, button
          background-color: $navbar-default-link-active-bg
          border-color: $brand-primary

//== Top navbar
//
//##

.navbar-default
  border: none
  .nav > li > a
    padding-right: 10px
    padding-left: 10px

    &.btn-home
      background-color: $blue-darker

    &.btn-power-off  
      background-color: $brand-danger
      color: $text-color

.navbar-fixed-top
  padding-left: 0

//** Btn menu toggle  
.navbar-toggle  
  float: left
  display: block

