//
// Nested one
// --------------------------------------------------

//== Main style
//
//## Label have to be like a legend if is the nested_one

.form-group.nested_one
  label.control-label.nested_one
    font-weight: 600
    font-size: 21px
    color: $blue-darker
    text-transform: inherit
    margin-top: 15px
    margin-bottom: 15px

.tab-pane
  > .form-group.nested_one
    label.control-label.nested_one
      margin-top: 0