//
// Nested many
// --------------------------------------------------

//== Main style
//
//##

.nested-many-field
  .panel
    z-index: 1

  &.orderable
    .sortable-placeholder
      margin-bottom: 20px
    .form-fields
      +clearfix
      float: none

  &.nested-many-field-inset
    .nested-many-inset-panel
      border: 1px dashed #ccc
      +box-shadow(none)

      .panel-heading
        background-color: transparent
        border-color: transparent

    .nested-many-inset-add-button
      .btn
        display: block
        width: 100%
        padding: 30px

      &.open
        > .dropdown-menu
          display: block
          width: 100%

          > li
            display: block
            float: left
            width: 33.333333%
            border: none
            text-align: center

            &:hover
              background-color: $brand-primary
              > a
                color: $brand-primary
            > a
              display: block
              width: 100%
              height: 100%
              padding: 40px
              border-bottom: none
