//
// Nested many
// --------------------------------------------------

//== Main style
//
//##

.nested-many-field
  .panel
    z-index: 1

  &.orderable
    .sortable-placeholder
      margin-bottom: 20px
    .form-fields
      +clearfix
      float: none
