//
// Compass & variables
// --------------------------------------------------

@import "variables"

@import "compass/css3/box-shadow"

//== Nested one
//
//##

.form-group.nested_one
  label.control-label.nested_one
    font-weight: 700
    font-size: 18px
    color: $blue-darker
