//
// Variables
// --------------------------------------------------
@import "variables"

@import "compass/css3/transition"
@import "compass/css3/transform"
@import "compass/css3/inline-block"

//== Re-ordered & handle barre styles
//
//## 

.order-anchor,
.handle
  color: $text-color
  cursor: move
  outline: 0
  font-size: 14px
  line-height: 20px
  +inline-block
  +default-transition
  &:hover
    color: $gray-darker
  &:focus,
  &:active,
  &:focus:active
    cursor: move
    +border-radius($border-radius-base)
    margin: 0
    background-color: $gray
    color: $gray-darker
    text-align: center

.sortable-placeholder
  border: 1px dotted $gray 
  width: 100%
  background-color: $gray-lighter

