//
// Pagination
// --------------------------------------------------

//== Overiding bootstrap pagination styles
//
//##

.pagination
  +border-radius(0)
  +clearfix
  display: block
  margin-bottom: 0
  text-align: center
  > li
    +inline-block
    > a,
    > span
      +border-radius($border-radius-small)
      +inline-block
      +material-box-shadow(1)
      background-color: $gray-lighter
      border: none
      float: none
      margin: 0
      &:active,
      &:focus,
      &:hover
        background-color: $gray-lighter

  > li:first-child
    > a,
    > span
      +border-radius($border-radius-small)
