@import "variables"

.table > thead > tr > th
  font-weight: 300

.table > tbody > tr > td > img
  max-width: 250px

.table-row-actions
  min-width: 145px

.table-row-actions-slide
  position: relative
  vertical-align: middle
  .btn-group
    position: absolute
    top: 0
    bottom: 0
    right: -200px
    width: 200px
    background-color: $gray-lighter
    +default-transition
    +vCenter
    +hCenter

.table-hover > tbody > tr
  +default-transition
  &:hover
    +material-box-shadow(2)
    .table-row-actions-slide  .btn-group
      right: 0
    > td
      border-top-color: $gray-lighter
