//
// Variables
// --------------------------------------------------
@import "variables"

@import "compass/css3/inline-block"

.root-tree
  padding-left: 0
  > .node
    margin-bottom: 20px
  .tree
    padding-left: 40px

    .sortable-dragging
      .placeholder,
      .btn-group
        display: none

  .sortable-placeholder
    height: 30px
    margin: 10px 0px 20px 0

.node
  border-left: 4px solid $gray
  padding-bottom: 5px
  .node-row
    padding: 5px
    +default-transition
    &:hover
      +material-box-shadow

  .handle
    margin-top: 7px

  .node-name
    margin-top: 7px
    +inline-block

  .placeholder
    height: 30px
    border: dashed 1px $gray
    margin-top: 5px

.tree
  list-style: none
  .node:last-child
    margin-bottom: 20px
