//
// Variables
// --------------------------------------------------

//== Bootstrap variables, Compass & fonts
//
//##

@import para/admin/src/bootstrap-variables

@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/inline-block
@import compass/css3/transform
@import compass/css3/transition
@import compass/css3/text-shadow
@import compass/css3/user-interface

//== Specific variables
//
//##

//** Colors

$blue-darker: #3F4352
$purple: #AB8CE4

//** padding & margin spacer

$spacer: 10px
$spacer-y: $spacer
$spacer-x: $spacer

//** Left menu

$left-menu-width-open: 260px
