@import "para/admin/src/bootstrap-variables"

//
// Specific variables
// --------------------------------------------------

//== Colors
//
//##

$blue-darker: #3F4352
$purple: #AB8CE4

//== Common
//
//##
$spacer: 10px
$spacer-y: $spacer
$spacer-x: $spacer

// $title-color: #434a54
// $help-block-color: #AAB2BD

//== Left menu
//
//##

$left-menu-width-open: 220px
