.page-title
  %h1
    %span.fa.fa-arrow-circle-o-left
    Frequently Asked Questions

/ PAGE CONTENT WRAPPER
.page-content-wrap
  .row
    .col-md-8
      .panel.panel-default
        .panel-body
          %h3.push-down-0 General Questions
        .panel-body.faq
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              How to aliquam at ipsum sapien?
            .faq-text
              %h5 Aliquam at ipsum sapien
              %p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec adipiscing vehicula tortor dapibus adipiscing.
              %p Nullam quis quam massa. Donec vitae metus tortor. Vestibulum vel diam orci. Etiam sollicitudin venenatis justo ut posuere. Etiam facilisis est ut ligula ornare accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Nunc pellentesque sagittis pulvinar?
            .faq-text
              %h5 Pellentesque sagittis pulvinar
              %p Nunc pellentesque sagittis pulvinar. Donec et bibendum dolor. Praesent commodo facilisis dui, vitae euismod ipsum aliquam gravida. Nulla aliquet fringilla velit sit amet dignissim. Sed justo ex, mattis sed venenatis sit amet, varius at urna. Donec erat nunc, tempus id tortor vel, consequat pulvinar nisl. Donec sed felis in erat malesuada tincidunt pulvinar in lorem.
              %p Etiam rutrum, leo ut molestie hendrerit, quam elit semper nunc, eget ullamcorper sem ligula a nisl. Phasellus aliquam efficitur elit sed ullamcorper. Quisque porttitor ac turpis quis sodales.
              %h5 Hendrerit luctus
              %p Nulla dapibus turpis ornare est hendrerit luctus. Nam id turpis sapien. Quisque non fermentum nisl. In sagittis nibh non dolor condimentum sodales.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Donec libero nisl, hendrerit vel tempus at?
            .faq-text
              %h5 Cras ac odio faucibus tortor pretium
              %p Cras ac odio faucibus tortor pretium tristique in id nisl. Donec libero nisl, hendrerit vel tempus at, posuere vel urna. Nam sed consectetur lectus. Sed sit amet risus dolor. Duis accumsan lorem ac quam egestas pretium.
              %p Curabitur finibus nisl ac aliquet mattis. Aliquam convallis bibendum lorem sed lobortis. Cras aliquam urna sed luctus tincidunt.
              %h5 Nulla ullamcorper
              %p In diam turpis, tristique nec cursus in, blandit vel elit. Nulla ullamcorper, ex in ultrices fringilla, nisi sapien hendrerit dolor, in suscipit mauris turpis id erat.
              %p Nunc facilisis odio vitae eros rutrum, eget rutrum nulla rhoncus. Etiam laoreet pretium ex ut gravida. In venenatis turpis sit amet volutpat bibendum.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Vestibulum vel diam orci?
            .faq-text
              %h5 Aliquam at ipsum sapien
              %p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec adipiscing vehicula tortor dapibus adipiscing.
              %p Nullam quis quam massa. Donec vitae metus tortor. Vestibulum vel diam orci. Etiam sollicitudin venenatis justo ut posuere. Etiam facilisis est ut ligula ornare accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Nam id turpis sapien?
            .faq-text
              %h5 Pellentesque sagittis pulvinar
              %p Nunc pellentesque sagittis pulvinar. Donec et bibendum dolor. Praesent commodo facilisis dui, vitae euismod ipsum aliquam gravida. Nulla aliquet fringilla velit sit amet dignissim. Sed justo ex, mattis sed venenatis sit amet, varius at urna. Donec erat nunc, tempus id tortor vel, consequat pulvinar nisl. Donec sed felis in erat malesuada tincidunt pulvinar in lorem.
              %p Etiam rutrum, leo ut molestie hendrerit, quam elit semper nunc, eget ullamcorper sem ligula a nisl. Phasellus aliquam efficitur elit sed ullamcorper. Quisque porttitor ac turpis quis sodales.
              %h5 Hendrerit luctus
              %p Nulla dapibus turpis ornare est hendrerit luctus. Nam id turpis sapien. Quisque non fermentum nisl. In sagittis nibh non dolor condimentum sodales.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Nulla ullamcorper, ex in ultrices fringilla?
            .faq-text
              %h5 Cras ac odio faucibus tortor pretium
              %p Cras ac odio faucibus tortor pretium tristique in id nisl. Donec libero nisl, hendrerit vel tempus at, posuere vel urna. Nam sed consectetur lectus. Sed sit amet risus dolor. Duis accumsan lorem ac quam egestas pretium.
              %p Curabitur finibus nisl ac aliquet mattis. Aliquam convallis bibendum lorem sed lobortis. Cras aliquam urna sed luctus tincidunt.
              %h5 Nulla ullamcorper
              %p In diam turpis, tristique nec cursus in, blandit vel elit. Nulla ullamcorper, ex in ultrices fringilla, nisi sapien hendrerit dolor, in suscipit mauris turpis id erat.
              %p Nunc facilisis odio vitae eros rutrum, eget rutrum nulla rhoncus. Etiam laoreet pretium ex ut gravida. In venenatis turpis sit amet volutpat bibendum.
      .panel.panel-default
        .panel-body
          %h3.push-down-0 Payment
        .panel-body.faq
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Cras at turpis vestibulum mauris gravida commodo?
            .faq-text
              %h5 Aliquam at ipsum sapien
              %p Maecenas risus sapien, sollicitudin quis nisl vehicula, sagittis venenatis elit. Cras at turpis vestibulum mauris gravida commodo. Fusce tellus metus, eleifend vel ultrices quis, fermentum ut justo. Ut hendrerit ante sed rutrum sagittis. Nam ac nulla posuere, mattis risus nec, sagittis purus. Praesent in justo rhoncus, molestie velit laoreet, viverra sem.
              %p Sed sit amet lacus sem. Sed vel fermentum mi, sit amet hendrerit purus. Duis nec posuere dolor. Fusce sed faucibus turpis, a cursus nunc.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Nunc pellentesque sagittis pulvinar?
            .faq-text
              %h5 Pellentesque sagittis pulvinar
              %p Nunc pellentesque sagittis pulvinar. Donec et bibendum dolor. Praesent commodo facilisis dui, vitae euismod ipsum aliquam gravida. Nulla aliquet fringilla velit sit amet dignissim. Sed justo ex, mattis sed venenatis sit amet, varius at urna. Donec erat nunc, tempus id tortor vel, consequat pulvinar nisl. Donec sed felis in erat malesuada tincidunt pulvinar in lorem.
              %p Etiam rutrum, leo ut molestie hendrerit, quam elit semper nunc, eget ullamcorper sem ligula a nisl. Phasellus aliquam efficitur elit sed ullamcorper. Quisque porttitor ac turpis quis sodales.
              %h5 Hendrerit luctus
              %p Nulla dapibus turpis ornare est hendrerit luctus. Nam id turpis sapien. Quisque non fermentum nisl. In sagittis nibh non dolor condimentum sodales.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Donec libero nisl, hendrerit vel tempus at?
            .faq-text
              %h5 Cras ac odio faucibus tortor pretium
              %p Cras ac odio faucibus tortor pretium tristique in id nisl. Donec libero nisl, hendrerit vel tempus at, posuere vel urna. Nam sed consectetur lectus. Sed sit amet risus dolor. Duis accumsan lorem ac quam egestas pretium.
              %p Curabitur finibus nisl ac aliquet mattis. Aliquam convallis bibendum lorem sed lobortis. Cras aliquam urna sed luctus tincidunt.
              %h5 Nulla ullamcorper
              %p In diam turpis, tristique nec cursus in, blandit vel elit. Nulla ullamcorper, ex in ultrices fringilla, nisi sapien hendrerit dolor, in suscipit mauris turpis id erat.
              %p Nunc facilisis odio vitae eros rutrum, eget rutrum nulla rhoncus. Etiam laoreet pretium ex ut gravida. In venenatis turpis sit amet volutpat bibendum.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Vestibulum vel diam orci?
            .faq-text
              %h5 Aliquam at ipsum sapien
              %p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec adipiscing vehicula tortor dapibus adipiscing.
              %p Nullam quis quam massa. Donec vitae metus tortor. Vestibulum vel diam orci. Etiam sollicitudin venenatis justo ut posuere. Etiam facilisis est ut ligula ornare accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Nam id turpis sapien?
            .faq-text
              %h5 Pellentesque sagittis pulvinar
              %p Nunc pellentesque sagittis pulvinar. Donec et bibendum dolor. Praesent commodo facilisis dui, vitae euismod ipsum aliquam gravida. Nulla aliquet fringilla velit sit amet dignissim. Sed justo ex, mattis sed venenatis sit amet, varius at urna. Donec erat nunc, tempus id tortor vel, consequat pulvinar nisl. Donec sed felis in erat malesuada tincidunt pulvinar in lorem.
              %p Etiam rutrum, leo ut molestie hendrerit, quam elit semper nunc, eget ullamcorper sem ligula a nisl. Phasellus aliquam efficitur elit sed ullamcorper. Quisque porttitor ac turpis quis sodales.
              %h5 Hendrerit luctus
              %p Nulla dapibus turpis ornare est hendrerit luctus. Nam id turpis sapien. Quisque non fermentum nisl. In sagittis nibh non dolor condimentum sodales.
          .faq-item
            .faq-title
              %span.fa.fa-angle-down>
              Nulla ullamcorper, ex in ultrices fringilla?
            .faq-text
              %h5 Cras ac odio faucibus tortor pretium
              %p Cras ac odio faucibus tortor pretium tristique in id nisl. Donec libero nisl, hendrerit vel tempus at, posuere vel urna. Nam sed consectetur lectus. Sed sit amet risus dolor. Duis accumsan lorem ac quam egestas pretium.
              %p Curabitur finibus nisl ac aliquet mattis. Aliquam convallis bibendum lorem sed lobortis. Cras aliquam urna sed luctus tincidunt.
              %h5 Nulla ullamcorper
              %p In diam turpis, tristique nec cursus in, blandit vel elit. Nulla ullamcorper, ex in ultrices fringilla, nisi sapien hendrerit dolor, in suscipit mauris turpis id erat.
              %p Nunc facilisis odio vitae eros rutrum, eget rutrum nulla rhoncus. Etiam laoreet pretium ex ut gravida. In venenatis turpis sit amet volutpat bibendum.
    .col-md-4
      .panel.panel-primary
        .panel-body
          %h3 Search
          %form#faqForm
            .input-group
              %input#faqSearchKeyword.form-control{:placeholder => "Search...", :type => "text"}/
              .input-group-btn
                %button#faqSearch.btn.btn-primary Search
          .push-up-10
            %strong Search Result:
            %span#faqSearchResult Please fill keyword field
          .push-up-10
            %button#faqRemoveHighlights.btn.btn-primary Remove Highlights
            .pull-right
              %button#faqOpenAll.btn.btn-default
                %span.fa.fa-angle-down
                Open All
              %button#faqCloseAll.btn.btn-default
                %span.fa.fa-angle-up
                Close All
      .panel.panel-primary
        .panel-body
          %h3 Contact
          %p Feel free to contact us for any issues you might have with our products.
          .form-group
            %label E-mail
            %input.form-control{:placeholder => "youremail@domain.com", :type => "email"}/
          .form-group
            %label Subject
            %input.form-control{:placeholder => "Message subject", :type => "email"}/
          .form-group
            %label Message
            %textarea.form-control{:placeholder => "Your message", :rows => "3"}
        .panel-footer
          %button.btn.btn-success.pull-right
            %span.fa.fa-envelope-o
            Send
/ END PAGE CONTENT WRAPPER