/ START CONTENT FRAME
.content-frame
  / START CONTENT FRAME TOP
  .content-frame-top
    .page-title
      %h2
        %span.fa.fa-arrow-circle-o-left
        Frame Title
    .pull-right
      %button.btn.btn-default.content-frame-right-toggle
        %span.fa.fa-bars
  / END CONTENT FRAME TOP
  / START CONTENT FRAME LEFT
  .content-frame-right
    .panel.panel-default
      .panel-body
        %h3.push-up-0 Right Column
        Right side disappear on mobile devices, and can be shown by pressing toggle button.
  / END CONTENT FRAME LEFT
  / START CONTENT FRAME BODY
  .content-frame-body.content-frame-body-left
    .panel.panel-default
      .panel-body
        %h3 Responsive Body
        This is responsive frame body. Can be used for all elements of template.
  / END CONTENT FRAME BODY
/ END CONTENT FRAME