<!DOCTYPE html>
<html>
<head>
  <title>Para</title>
  <%= stylesheet_link_tag    "para/application", media: "all" %>
  <%= javascript_include_tag "para/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
