.navbar.navbar-default.navbar-fixed-top{ role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: { target: ".navbar-collapse", toggle: "collapse" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: para.admin_path } Admin
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{ href: para.admin_path } Dashboard
        %li
          = link_to main_app.destroy_admin_user_session_path, method: 'delete' do
            Se déconnecter
      %form.navbar-form.navbar-right
        .input-group
          .input-group-addon
            %i.fa.fa-search
          %input.form-control{ placeholder: "Search...", type: "text" }
