%ul.x-navigation.x-navigation-horizontal.x-navigation-panel
  %li.xn-icon-button
    %a.x-navigation-minimize{:href => "#"}
      %span.fa.fa-dedent

  %li
    = link_to main_app.root_path do
      %i.fa.fa-long-arrow-left
      Retour à l'application

  %li.xn-icon-button.pull-right
    = link_to main_app.destroy_admin_user_session_path, method: 'delete' do
      %i.fa.fa-power-off
