%ul.x-navigation.x-navigation-horizontal.x-navigation-panel{ data: { header: true } }
  %li.xn-logo
    = link_to para.admin_path do
      Administration

  %li
    = link_to main_app.root_path do
      %i.fa.fa-long-arrow-left
      Retour à l'application

  %li.pull-right
    = link_to main_app.destroy_admin_user_session_path, method: :delete do
      %i.fa.fa-power-off
      Se déconnecter
