%ul.x-navigation.x-navigation-horizontal.x-navigation-panel{ data: { header: true } }
  %li.xn-logo
    = link_to para.admin_path do
      Administration

  %li
    = link_to main_app.root_path do
      %i.fa.fa-long-arrow-left
      Retour à l'application

  %li.xn-icon-button.pull-right
    = button_to main_app.destroy_admin_user_session_path, method: 'delete', class: 'btn-sign-out' do
      %i.fa.fa-power-off
