= search_form_for @q, builder: SimpleForm::FormBuilder, url: @component.path do |form|
  .input-group
    %span.input-group-addon
      %i.fa.fa-search

    = form.input_field :<%= fulltext_search_param_for(attributes) %>, as: :string, placeholder: t('para.shared.search'), class: 'form-control'

    %span.input-group-btn
      = form.submit t('para.shared.search'), class: 'btn btn-default'
