@import "para/admin/theme/variables"

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) 
  .form-horizontal .control-label
    padding-top: 15px
    
  .form-group-separated 
    .form-group,
    .form-actions
      padding-right: 25px

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) 
  .form-group-separated 
    .form-actions,
    .form-group
      padding-right: 150px

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) 
  .form-group-separated 
    .form-actions,
    .form-group
      padding-right: 250px
    