.nested-one-field
  = form.simple_fields_for attribute_name, resource, nested_attribute_name: attribute_name do |nested_form|
    = render partial: find_partial_for(model, :fields), locals: { form: nested_form, parent: form.object }
