.page-title
  %h1
    Dashboard
.page-content-wrap
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          %p Override the dashboard view by Creating a view at :
          %pre app/views/admin/dashboard.html.(haml|erb)
