.page-title
  %h1= t('para.dashboard.title')

.page-content-wrap
  - ordered_components.each_slice(3) do |components|
    .row
      - components.each do |component|
        .col-md-4
          = link_to component.path, class: 'panel panel-default' do
            .panel-body
              = component.name

