= simple_form_for [:admin, @component, resource], as: :resource do |form|
  - editable_attributes_for(form.object).each do |attribute|
    = form.input attribute

  .form-actions
    = form.button :submit
