\.
%br.visible-xs
= t('helpers.page_entries_info.number_per_page')
\:
%span.dropdown
  %button.btn.btn-default.btn-shadow.btn-xs.dropdown-toggle{ data: { toggle: 'dropdown' } }
    = current_per_page
    %span.fa.fa-angle-down
  %ul.dropdown-menu
    - count_with_url.each do |count, url|
      %li= link_to count, url
