= modal.body do
  %p= t('para.import.importing_file')

  .progress{ data: { :'async-progress' => 'import' } }
    .progress-bar.progress-bar-striped.active{ role: "progressbar", style: "width: #{ status.progress * 100 }%" }
